@import '../../../Mixins.scss';

.about-container{
    height: 100%;
    @include column-flex();
    justify-content: space-between;
    margin: 0;
    transform: rotateY(180deg);
}
.about-title{
    text-align: center;
}
.about-scroll{
    overflow-y: scroll;
    padding: 16px;
}