@import '../../../Mixins.scss';

#Preset-container{
    margin-left: 15px;
    width: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.Preset-buttons{
    margin-left: 15px;
    border-color: $green;
    background:$green;
    color: whitesmoke;
    border-width: 1px;
}

// .Preset-buttons:hover{
//     border-color: $darkGreen;
// }


.Preset-buttons:disabled{
    background: rgba(200,200,200,.5);
    border-color:  rgba(200,200,200,.5);
    color: whitesmoke;
}


