@import '../../Mixins.scss';

%double-center{
  justify-content: center;
  align-items: center;
}

.main-container {
  background: whitesmoke;
  height: 100%;
  width: 100%;
  @include column-flex;
  @extend %double-center;
  overflow: hidden;
}

.main-container-background {
  background-color: $green;
  width: 70%;
  height: 85%;
  @include column-flex();
  @extend %double-center;
  border-radius: 15px;
  box-shadow: 0px 5px 5px #0000008c;
}

.main-tabs {
  background: $green;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.ScaleSelector {
  width: 98%;
  height: 10%;
  border-style: solid;
  border-color: $darkGreen;
  background: whitesmoke;
  color: $darkGreen;
  border-width: 2px;
  display: flex;
  @extend %double-center;
  border-radius: 15px 15px 0px 0px;
  box-shadow: 0px 5px 5px #0000008c;
}

.ScaleSelector select{
  background: whitesmoke;
  color: $darkGreen;
}


.Fretboard {
  width: 98%;
  height: 75%;
  border-style: solid;
  border-top-style: none;
  border-bottom-style: none;
  border-color: rgb(0, 0, 0);
  border-color: $darkGreen;
  background: whitesmoke;
  border-width: 2px;
  @include column-flex();
  @extend %double-center;
  color: $darkGreen;
  box-shadow: 0px 5px 5px #0000008c;
}

.Fretboard select{
  color: $darkGreen;
  background: whitesmoke;
}

.StringContainer {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  margin: 0px;
  height: 90%;
}

.StringAndFret {
  display: flex;
}

.Fret {
  display: flex;
  justify-content: center;
  border-style: solid;
  border-width: 1px;
  border-color: #a9a9a9;
  height: 33px;
  width: 36px;
  text-align: center;
}


.dot {
  margin-top: 25px;
  height: 15px;
  width: 15px;
  background-color: #224d3c;
  border-color: $darkGreen;
  border-style: solid;
  border-width: thin;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  transition: opacity 0.5s;
}

.root-dot {
  margin-top: 25px;
  height: 15px;
  width: 15px;
  background-color: #6f3f8d;
  border-color: $darkGreen;
  border-style: solid;
  border-width: thin;
  border-radius: 50%;
  display: inline-block;
  position: relative;
}

.ScaleNotes {
  width: 98%;
  height: 10%;
  border-style: solid;
  border-color: $darkGreen;
  background: whitesmoke;
  border-width: 2px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 0px 0px 15px 15px;
  box-shadow: 0px 5px 5px #0000008c;
}

.ScaleNotes h4{
  color: $darkGreen
}

.Fretboard-container {
  border-style: solid;
  border-top-style: none;
  border-bottom-style: none;
  /* border-color: rgb(0, 0, 0); */
  border-color: whitesmoke;
  border-width: thin;
}

.fretboard-key {
  background: none;
  width: 100%;
  margin-left: 15px;
  display: flex;
  align-items: center;
}

.fret-selector{
  margin-left: 15px;
}

.key-dot {
  margin-left: 5px;
  height: 15px;
  width: 15px;
  background-color: #6f3f8d;
  border-style: solid;
  border-width: thin;
  border-radius: 50%;
}


select {
  height: 35px;
}


.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 600ms;
}

.fret-number {
  position: absolute;
  margin-top: 50px;
  
}

.preset-input{
  width:100%;
}

.update-buttons{
  display: flex;
  @extend %double-center;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
