.main-container{
background: whitesmoke;
height: 90vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.ScaleSelector{
    width: 1000px;
    height: 100px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center
}

.Fretboard{
    width: 1000px;
    height: 400px;
    border-style: solid;
    border-top-style: none;
    border-bottom-style: none;
    border-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.StringContainer{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    height: 100%;
}

.ScaleNotes{
    width: 1000px;
    height: 100px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center
}

.Interval{
    margin: 0px 50px;
}

select {
    height: 35px;
}

