.main-container {
  background: rgba(245, 245, 245, 0);
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -4;
  overflow: hidden;
}

.main-container-background {
  background-color: #224d3c;
  width: 70%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0px 5px 5px #0000008c;
}

.main-tabs {
  background: #224d3c;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.ScaleSelector {
  width: 98%;
  height: 10%;
  border-style: solid;
  border-color: rgb(0, 0, 0);
  border-color: whitesmoke;
  border-width: thin;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px 15px 0px 0px;
  box-shadow: 0px 5px 5px #0000008c;
}

.Fretboard {
  width: 98%;
  height: 75%;
  border-style: solid;
  border-top-style: none;
  border-bottom-style: none;
  border-color: rgb(0, 0, 0);
  border-color: whitesmoke;
  border-width: thin;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  box-shadow: 0px 5px 5px #0000008c;
}

.StringContainer {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  margin: 0px;
  height: 90%;
}

.StringAndFret {
  display: flex;
}

.Fret {
  display: flex;
  justify-content: center;
  border-style: solid;
  border-width: 1px;
  border-color: whitesmoke;
  /* border-color: #a9a9a9; */
  height: 33px;
  width: 36px;
  text-align: center;
}

@media(max-width: 1350px){
  .Fret {
    display: flex;
    justify-content: center;
    border-style: solid;
    border-width: 1px;
    border-color: whitesmoke;
    /* border-color: #a9a9a9; */
    width: 25px;
  }
  .key-dot {
    height: 10px;
    width: 10px;
  }
  .dot {
    size: 5px;
    border-style: solid;
    border-width: thin;
    border-radius: 50%;
  }
  
}

.dot {
  margin-top: 25px;
  height: 15px;
  width: 15px;
  background-color: #224d3c;
  border-style: solid;
  border-width: thin;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  transition: opacity 0.5s;
}

.root-dot {
  margin-top: 25px;
  height: 15px;
  width: 15px;
  background-color: #6f3f8d;
  border-style: solid;
  border-width: thin;
  border-radius: 50%;
  display: inline-block;
  position: relative;
}

.ScaleNotes {
  width: 98%;
  height: 10%;
  border-style: solid;
  border-color: rgb(0, 0, 0);
  border-color: whitesmoke;
  border-width: thin;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 0px 15px 15px;
  box-shadow: 0px 5px 5px #0000008c;
}
span {
  background: none;
}
.Fretboard-container {
  border-style: solid;
  border-top-style: none;
  border-bottom-style: none;
  /* border-color: rgb(0, 0, 0); */
  border-color: whitesmoke;
  border-width: thin;
}

.fretboard-key {
  background: none;
  width: 100%;
  margin-left: 15px;
  display: flex;
  align-items: center;
}

.fret-selector{
  margin-left: 15px;
}

.key-dot {
  margin-left: 5px;
  height: 15px;
  width: 15px;
  background-color: #6f3f8d;
  border-style: solid;
  border-width: thin;
  border-radius: 50%;
}

.Interval {
  margin: 0px 50px;
}

select {
  height: 35px;
}

.menu-drawer {
  background: #224d3c;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  right: 0px;
  background: #224d3c;
  width: 20vw;
  height: 90vh;
  z-index: 1;
  transition: width 200ms;
  overflow: hidden;
  box-shadow: 0px 0px 25px 0px #0000008c;
}

.preset-drawer{
  display: flex;
  flex-direction: column;
  justify-items:  center;
  color: whitesmoke;
}

.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 300ms;
}
.drawer-items {
  background: #224d3c;
}

.fret-number {
  position: absolute;
  margin-top: 50px;
  
}

.preset-input{
  width:100%;
}

.update-buttons{
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
