@import '../../Mixins.scss';

input {
  font-size: 20px;
}

p {
  font-size: 20px;
  background: none;
  color: whitesmoke;
}

main {
  height: 90vh;
  justify-content: center;
  align-items: center;
  @include column-flex();
  width: 100vw;
  position: absolute;
  background-color: whitesmoke;
  background-image: url('../../skalerbackground.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  background-size: auto 100%;
  overflow: hidden;
}



.container{
  @include home-container()
}


.login-container{
  @include home-container();
  transform: rotateY(180deg);
}

.login-container input{
  width: 100%;
}


.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

}

.home-title{
  font-size: 85px;
  height: 100px;
  text-align: center;
}

.home-logo {
  height: 100px;
}

.home-buttons{
  align-self: center;
}

