@import './Mixins.scss';

header {
  position: relative;
  background-color: $green;
  padding: 0 24px 0 24px;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: whitesmoke;
  max-width: 100vw;
  box-shadow: 0px 5px 5px #0000008c;
  font-size: 40px;
  z-index: 2;
  overflow: hidden;
}

.header-items {
  margin: 0px 10px 0px 10px;
}

.logo-container{
  display: flex;
  align-items: center;
}

.title {
  color: whitesmoke;
  background: none;
  border: none;
  width: 180px;
  cursor: pointer;
  transition: color 100ms
}

.logo-button{
  transition: transform 300ms;
}

i{
  cursor: pointer;
  transition: transform 300ms;
}


.logo-button:hover{
  transform: scale(1.05);
}


i:hover{
  transform: scale(1.15);
}


// .title:active{
//   color: $grey;
// }


a{
  color: whitesmoke;
  text-decoration: none;
}
a:visited{
  text-decoration: none;
}


.logo {
  height: 40px;
}

.login {
  font-size: 40px;
  font-family: "Prompt", sans-serif;
  text-decoration: none;
  color: whitesmoke;
  background: none;
  border: none;
  margin: 0px;
}








