header {
  position: relative;
  background-color: #224d3c;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: whitesmoke;
  width: 100vw;
  box-shadow: 0px 5px 5px #0000008c;
  font-size: 40px;
  z-index: 1;
}

.header-items {
  margin: 0px 10px 0px 10px;
}

.logo-container{
  display: flex;
  align-items: center;
}

.title {
  color: whitesmoke;
  background: none;
  border: none;
}



a:hover{
  font-size: 42px;
}

a{
  color: whitesmoke;
  text-decoration: none;
}
a:visited{
  text-decoration: none;
}


.logo {
  height: 40px;
}

.login {
  font-size: 40px;
  font-family: "Prompt", sans-serif;
  text-decoration: none;
  color: whitesmoke;
  background: none;
  border: none;
  margin: 0px;
}








