/* @import url('https://fonts.googleapis.com/css?family=K2D'); */

* {
  margin: 0;
  background-color: #222728;
  color: whitesmoke;
  border-color: whitesmoke;
}
/* 
* {
  margin: 0;
  background-color: rgb(220,220,220);
} */

header {
  position: relative;
  background-color: #224d3c;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: whitesmoke;
  width: 100vw;
  box-shadow: 0px 5px 5px #0000008c;
  font-family: 'Prompt', sans-serif;
  z-index: 4;
}

.header-items{
  margin: 0px 50px;
  background-color: #224d3c;
}

main{
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  position: absolute;
  background-color: whitesmoke;
}

.logo {
  background-color: rgba(255, 255, 255, 0);
  height: 40px;
  margin-left: 240px;
  position: absolute;
}

.login{
  font-size: 40px;
  font-family: 'Prompt', sans-serif;
  text-decoration: none;
  color: whitesmoke;
  background: none;
  border: none;
}

.logo-button{
  font-size: 40px;
  font-family: 'Prompt', sans-serif;
  text-decoration: none;
  color: whitesmoke;
  background: none;
  border: none;
}

input{
  background: whitesmoke;
  color: black;
}
button{
  background: whitesmoke;
  color: black;
}

button:focus {
  outline:0;
}

/* #3A214A dark purple
#4A3A21 dark brown */